@model IndexViewModel

<body background="Background.jpg" style="background-size: cover; background-position: center center; background-repeat:inherit;">

@{
    Layout = "~/Views/Shared/_HatLayout.cshtml";
}

@section styles {
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet">
}

<div class="row">
    <div class="col d-flex flex-column align-items-center">
        <div class="bg-light bg-opacity-50 mt-3 p-3">
            <h3>Добро пожаловать, @Model.User.UserName</h3>
            <h4>У тебя уже накоплено <span id="current_score">@Model.User.CurrentScore</span></h4>
            <h4>Всего ты заработал <span id="record_score">@Model.User.RecordScore</span></h4>
            <h4>Одним ударом ты наносишь <span id="profit_per_click">@Model.User.ProfitPerClick</span> урона</h4>
            <h4>Твои подчиненные наносят ежесекундно <span id="profit_per_second" @Model.User.ProfitPerSecond</span> урона</h4>
        </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <div class="health-bar-container">
                <div id="orc-health-bar" class="health-bar">
                    <span id="health-bar-text" class="health-bar-text">100 / 100</span>
                </div>
            </div>
            <button id="clickitem" class="click-item bg-transparent border-0" type="submit" hidden></button>
            <label for="clickitem">
                <img id="orc-image" src="~/ORC_1.png" width="800px"/>
            </label>
        </div>
        <div class="col-sm-3">
        <h3>Бусты</h3>
        @foreach (var boost in Model.Boosts)
        {
            var userBoost = Model.User.UserBoosts.FirstOrDefault(ub => ub.BoostId == boost.Id);

            var price = userBoost?.CurrentPrice ?? boost.Price;
            var quantity = userBoost?.Quantity ?? 0;

            <button width="100px" height="100px" class="boost-button border-0 bg-secondary m-3 bg-opacity-50">
                <span hidden class="boost-id">@boost.Id</span>
                <h4>@boost.Title</h4>
                <img width="100" height="100" src="data:image/jpg;base64, @Convert.ToBase64String(boost.Image)"/>
                   <h5 class="boost-price-string">Цена:<span class="boost-price"> @price </span> </h5>
                <h5>
                    Урон: @boost.Profit
                    @if (boost.IsAuto)
                    {
                        <span> в секунду.</span>
                    }
                </h5>
                    <h5>Количество приобретенных юнитов:<span class="boost-quantity"> @quantity </span></h5>
            </button>
        }
    </div>
</div>

@section scripts {
    <script src="~/js/index.js"></script>
}

</body>
